<!--begin::Subheader-->
<div class="subheader py-3 py-lg-8" [ngClass]="subheaderCSSClasses" id="kt_subheader">
  <div [ngClass]="subheaderContainerCSSClasses"
    class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">

    <div class="d-flex align-items-center mr-1">
      <ng-container *ngIf="subheaderMobileToggle">

        <button class="burger-icon burger-icon-left mr-4 d-inline-block d-lg-none" id="kt_subheader_mobile_toggle">
          <span></span>
        </button>

      </ng-container>

      <div class="d-flex align-items-baseline flex-wrap mr-5">

        <ng-container *ngIf="title$ | async as _title">
          <h2 class="d-flex align-items-center text-dark font-weight-bold my-1 mr-3">
            <small>{{ _title }}</small>
            <ng-container *ngIf="subheaderDisplayDesc">
              <ng-container *ngIf="description$ | async as _description">
                <small>{{ _description }}</small>
              </ng-container>
            </ng-container>
          </h2>
        </ng-container>


      </div>

    </div>

    <div class="d-flex align-items-center flex-wrap">
      <ng-container *ngIf="subIsActive =='ACTIVE'">

        <ng-container *ngIf="lessThanFifteenDaysWarning =='LESS_THAN_FIFTEEN_DAYS_REMAINING'">
          <h6 class="orange-icon">Subscription Will Expire In {{subDaysCnt}} Days</h6>
        </ng-container>

        <ng-container *ngIf="lessThanSevenDaysWarning =='LESS_THAN_SEVEN_DAYS_REMAINING'">
          <h6 class="text-danger">Subscription Will Expire In {{subDaysCnt}} Days</h6>
        </ng-container>
        <ng-container *ngIf="adminFreeUsageWarning =='ADMIN_FREE_USAGE'">
          <h6 class="orange-icon">You Are Using System Access Under Free Program</h6>
        </ng-container>

        <ng-container *ngIf="freeTrialWarning =='FREE_TRAIL'">
          <h6 class="text-danger">You Are Using Trail Version</h6>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="subIsActive =='INACTIVE' && subscriptionIsExpiredWarning =='PACK_IS_EXPIRED'">
        <h6 class="text-danger">Your Subscription Is Expired On {{subscriptionDetails[0].ExpiryDate}}.<br>
          Kindly Reacharge To Continue</h6>
      </ng-container>
      <ng-container *ngIf="subIsActive =='INACTIVE' && sellerMadeInactiveWarning =='SELLER_IS_INACTIVE'">
        <h6 class="text-danger">Seller Is In Active</h6>
      </ng-container>
      
    </div>

  </div>
</div>
<ngx-spinner></ngx-spinner>