<div class="container-fluid">


    <div class="row">
        <div class="col-md-9 col-9 col-sm-9 col-xl-9">
            <mat-form-field style="width: 100%;">

                <input matInput placeholder="Search" (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>

        <div class="col-md-3 col-6 col-sm-6 col-xl-3 col-lg-3">
            <button mat-raised-button class="width-100 mt-2 save-button" [disabled]="!isDataLoaded"
                [ngClass]="!isDataLoaded ? 'opacity' : 'noOpacity'" (click)="downloadTheReport()"><span
                    style="color:white">Download</span></button>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-xl-12 my-2" *ngIf="role == 'Admin'">
            <table mat-table [dataSource]="dataSource" class="custom-table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.sellerId}}</td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.sellerName}}</td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef>Customer</th>
                    <td mat-cell *matCellDef="let element">{{element.customerName}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>

                <ng-container matColumnDef="orderDate">
                    <th mat-header-cell *matHeaderCellDef>Order Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.orderDate}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryUpto">
                    <th mat-header-cell *matHeaderCellDef>Delivery Upto</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.deliveryUpto}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryType">
                    <th mat-header-cell *matHeaderCellDef>Delivery Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.deliveryType}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openOrderDialog(element)">
                            <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="print">
                    <th mat-header-cell *matHeaderCellDef>Print</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openPrintDialog(element)">
                            <mat-icon>print</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator style="background-color:  #f3f6f9 !important;" [pageSizeOptions]="[25,50,100]"
                showFirstLastButtons></mat-paginator>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-xl-12 my-2" *ngIf="role != 'Admin'">
            <table mat-table [dataSource]="dataSource" class="custom-table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.sellerId}}</td>
                </ng-container>

                <ng-container matColumnDef="customer">
                    <th mat-header-cell *matHeaderCellDef>Customer</th>
                    <td mat-cell *matCellDef="let element">{{element.customerName}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.status}}</td>
                </ng-container>

                <ng-container matColumnDef="orderDate">
                    <th mat-header-cell *matHeaderCellDef>Order Date</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.orderDate}}

                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryUpto">
                    <th mat-header-cell *matHeaderCellDef>Delivery Upto</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.deliveryUpto}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="deliveryType">
                    <th mat-header-cell *matHeaderCellDef>Delivery Type</th>
                    <td mat-cell *matCellDef="let element">
                        {{element.deliveryType}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openOrderDialog(element)">
                            <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="print">
                    <th mat-header-cell *matHeaderCellDef>Print</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="openPrintDialog(element)">
                            <mat-icon>print</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator style="background-color:  #f3f6f9 !important;" [pageSizeOptions]="[25,50,100]"
                showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>