<div class="container-fluid">
    <h2 class="theme-color font-weight-bold text-center mb-5">
        Seller Categories Mapping
    </h2>
    <h6 class="orange-icon mt-5">Already Selected Categories</h6>
    <div class="row mt-5">

        <div class="col-md-12 col-12 col-sm-12 col-xl-12">
            <mat-chip-list aria-label="Fish selection">
                <mat-chip *ngFor="let categories of userData.categories">{{categories.name}}</mat-chip>
            </mat-chip-list>
        </div>

        <div class="col-md-12 col-12 col-sm-12 col-xl-12 mt-3">
            <mat-form-field style="width: 100%;">
                <mat-label>Category</mat-label>
                <mat-select placeholder="Category" multiple>
                    <mat-option (onSelectionChange)="onCategoriesChange($event,category)"
                        *ngFor="let category of categoriesData" [value]="category.name">
                        {{category.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div mat-dialog-actions>
            <button mat-raised-button class="save-button" (click)="saveCategories()"><span
                    class="custom-text-color">Save</span></button>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>
    </div>
</div>

<ngx-spinner>
</ngx-spinner>