.custom-table {
    width: 100%;
}

*:focus {
    outline: none;
}


.mat-column-ProductId {
    flex: none;
    text-align: center;
}

.mat-column-BrandName {
    flex: none;
    text-align: center;
}

.mat-column-ProductName {
    flex: none;
    text-align: center;
}

.mat-column-Quantity {
    flex: none;
    text-align: center;
}





.mat-column-BuyingPrice {
    flex: none;
    text-align: center;
}

.mat-column-Discount {
    flex: none;
    text-align: center;
}

.mat-column-AvailableQuantity {
    flex: none;
    text-align: center;
}

.mat-column-TotalDiscount {
    flex: none;
    text-align: center;
}

.mat-column-FinalPrice {
    flex: none;
    text-align: center;
}