.colorize-ornage {
    filter: invert(52%) sepia(69%) saturate(1769%) hue-rotate(1deg) brightness(104%) contrast(103%);
}

.colorize-blue {
    filter: invert(40%) sepia(93%) saturate(6600%) hue-rotate(332deg) brightness(100%) contrast(101%);
}

.colorize-yellow {
    filter: invert(41%) sepia(62%) saturate(591%) hue-rotate(262deg) brightness(87%) contrast(85%);
}

.colorize-blue-color {
    filter: invert(56%) sepia(78%) saturate(523%) hue-rotate(71deg) brightness(100%) contrast(86%);
}

.colorize-yellow {
    filter: invert(41%) sepia(62%) saturate(591%) hue-rotate(262deg) brightness(87%) contrast(85%);
}

.colorize-red {
    filter: invert(35%) sepia(80%) saturate(4024%) hue-rotate(1deg) brightness(102%) contrast(103%);
}

.custom-li {
    border: none;
    cursor: pointer;
}
