<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="container-fluid">
        <h2 class="text-center font-weight-bold theme-color">{{salesService.currentTab}}</h2>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-xl-12">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Name" formControlName="name" [(ngModel)]="product.name">
                    <mat-error *ngIf="productForm.controls.name.touched && productForm.controls.name.invalid">
                        <span *ngIf="productForm.controls.name.errors.required">Name is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-12 col-sm-12 col-xl-12">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Description" formControlName="description"
                        [(ngModel)]="product.descriptions">
                    <mat-error
                        *ngIf="productForm.controls.description.touched && productForm.controls.description.invalid">
                        <span *ngIf="productForm.controls.description.errors.required">Description is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div mat-dialog-actions class="mt-2">
            <button mat-raised-button [ngClass]="!productForm.valid? 'opacity' : 'noOpacity'" class="save-button"
                [disabled]="!productForm.valid"><span class="custom-text-color">Save</span></button>
            <button mat-raised-button (click)="deleteProductMeasurementUnitData()" color="warn">Delete</button>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>
    </div>
    <ngx-spinner></ngx-spinner>