
<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-header bg-danger" style="height:90px;width: 400px;">
                <h4 class="vertical-align-text custom-card-title">Payment Failed</h4>
            </div>
            <div class="card-body" style="height: 180px;">
                <h5 class="text-center">Your Payment Is Failed<br>Kindly Try Another One</h5>
                <button type="button" class="btn btn-lg btn-block mt-3"
                    style="background-color: #F64E60 !important;color: white;margin-top: 33px !important;" (click)="tryAgain()"><span
                        style="font-size: 1.5rem;">Try Again</span></button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>