<div class="container-fluid">
    <h3 class="text-center font-weight-bold theme-color">{{salesService.currentTab}}</h3>
    <div class="row my-4">
        <div class="col-md-4 col-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Customer Name:
                        <span>
                            <h5 class="black-color-text">{{orderData.customerName}}</h5>
                        </span>
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Seller Name:
                        <span>
                            <h5 class="black-color-text">{{orderData.sellerName}}</h5>
                        </span>
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Order Status:
                        <span>
                            <h5 class="black-color-text">{{orderData.status}}</h5>
                        </span>
                    </h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Order DateTime:
                        <span>
                            <h5 class="black-color-text">{{orderData.orderDate}}</h5>
                        </span>
                    </h5>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Customer Mobile no:
                        <span>
                            <h5 class="black-color-text">{{orderData.primaryMobileNumber}}</h5>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Payment Type:
                        <span>
                            <h5 class="black-color-text">{{orderData.paymentType}}</h5>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Total Amount:
                        <span>
                            <h5 class="black-color-text">{{orderData.totalAmount}}</h5>
                        </span>
                    </h5>
                </div>
            </div>

        </div>
        <div class="col-md-4 col-12 col-sm-12 col-lg-4 col-xl-4">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Delivery Type:
                        <span>
                            <h5 class="black-color-text">{{orderData.deliveryType}}</h5>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Delivery Upto:
                        <span>
                            <h5 class="black-color-text">{{orderData.deliveryUpto}}</h5>
                        </span>
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12">
                    <h5 class="orange-icon">Total Quantity:
                        <span>
                            <h5 class="black-color-text">{{totalOrderedQuantity}}</h5>
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-12 col-sm-12 col-lg-12 col-xl-12 my-5">

            <div class="row">
                <div class="col-md-6 col-6 col-sm-6 col-lg-6 col-xl-6">
                    <mat-form-field style="width: 100% !important;">
                        <mat-select [(ngModel)]="selectStatus" placeholder="Delivery Status">
                            <mat-option *ngFor="let item of deliveryStatus;" [value]="item.title">
                                {{item.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6 col-6 col-sm-6 col-lg-6 col-xl-6">
                    <mat-form-field style="width: 100% !important;">
                        <mat-select [(ngModel)]="deliverySlotTiming" placeholder="Delivery Slot">
                            <mat-option *ngFor="let item of deliverySlot;" [value]="item.title">
                                {{item.title}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </div>

    </div>



    <div mat-dialog-actions class="my-4">


        <button mat-raised-button class="save-button"
            [ngClass]="!selectStatus ||!deliverySlotTiming? 'opacity' : 'noOpacity'" class="save-button"
            [disabled]="!selectStatus ||!deliverySlotTiming " (click)="onSubmit()"><span
                class="custom-text-color">Save</span></button>

        <button mat-raised-button mat-dialog-close>Close</button>
    </div>

    <mat-divider class="my-4"></mat-divider>
    <h5 class="orange-icon text-center">Order Details </h5>
    <h5 class="text-center">({{orderNo| slice:-5}})</h5>
    <mat-divider class="my-4"></mat-divider>

    <div class="row my-4">
        <div class="col-md-12 col-12 col-sm-12 col-xl-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>
    </div>





    <div class="col-xl-12 col-12 col-md-12 col-sm-12 my-3">
        <table mat-table [dataSource]="dataSource" class="custom-dialog-table">

            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef>Product Name</th>
                <td mat-cell *matCellDef="let element">{{element.PrdName}}</td>
            </ng-container>

            <ng-container matColumnDef="varient">
                <th mat-header-cell *matHeaderCellDef>Varient</th>
                <td mat-cell *matCellDef="let element">{{element.ProductName}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">
                    {{element.PrdQuantity}}
                </td>
            </ng-container>


            <ng-container matColumnDef="mrp">
                <th mat-header-cell *matHeaderCellDef>MRP</th>
                <td mat-cell *matCellDef="let element">
                    {{element.MRP}}
                </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">{{element.Discount}}</td>
            </ng-container>

            <ng-container matColumnDef="finalPrice">
                <th mat-header-cell *matHeaderCellDef>Final Price</th>
                <td mat-cell *matCellDef="let element">{{element.FinalPrice}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[25,50,100]" showFirstLastButtons></mat-paginator>
    </div>
</div>