<div class="container-fluid my-5">
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12 col-xl-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <!-- ['shopName', 'shopKeepersName', 'CategoryName', 'phoneNo', 'city', 'Status', 'name', 'date', 'edit']; -->
        <div class="col-xl-12 col-12 col-md-12 col-sm-12 mb-3">
            <table mat-table [dataSource]="dataSource" class="custom-table">

                <ng-container matColumnDef="shopName">
                    <th mat-header-cell *matHeaderCellDef>Shop Name</th>
                    <td mat-cell *matCellDef="let element">{{element.ShopName}}</td>
                </ng-container>

                <ng-container matColumnDef="shopKeepersName">
                    <th mat-header-cell *matHeaderCellDef>Shop Keepers Name</th>
                    <td mat-cell *matCellDef="let element">{{element.ShopKeepersName}}</td>
                </ng-container>

                <ng-container matColumnDef="CategoryName">
                    <th mat-header-cell *matHeaderCellDef>Category Name</th>
                    <td mat-cell *matCellDef="let element">{{element.CategoryName}}</td>
                </ng-container>

                <ng-container matColumnDef="phoneNo">
                    <th mat-header-cell *matHeaderCellDef>Phone No</th>
                    <td mat-cell *matCellDef="let element">{{element.PhoneNo}}</td>
                </ng-container>

                <ng-container matColumnDef="city">
                    <th mat-header-cell *matHeaderCellDef>City</th>
                    <td mat-cell *matCellDef="let element">{{element.City}}</td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">{{element.Status}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{element.Name}}</td>
                </ng-container>


                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Date</th>
                    <td mat-cell *matCellDef="let element">{{element.Date}}</td>
                </ng-container>


                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="editCategory(element)">
                            <mat-icon class="mat-18">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[25,50,100]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<ngx-spinner></ngx-spinner>