<form [formGroup]="brandForm">
    <div class="container-fluid">
        <h2 class="text-center font-weight-bold theme-color">{{salesService.currentTab}}</h2>
        <div class="row">
            <div class="col-md-12 col-12 col-sm-12 col-xl-12">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Name" formControlName="name" [(ngModel)]="brand.name">
                    <mat-error *ngIf="brandForm.controls.name.touched && brandForm.controls.name.invalid">
                        <span *ngIf="brandForm.controls.name.errors.required">Name is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12 col-12 col-sm-12 col-xl-12">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Description" formControlName="description"
                        [(ngModel)]="brand.descriptions">
                    <mat-error *ngIf="brandForm.controls.description.touched && brandForm.controls.description.invalid">
                        <span *ngIf="brandForm.controls.description.errors.required">Description is
                            mandatory.</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6 col-6 col-sm-6 col-xl-6">
                <input type="file" id="file" (change)="selectFile($event)" class="width-100" formControlName="image"
                    [(ngModel)]="brand.imageurl">
            </div>
        </div>
        <div mat-dialog-actions class="mt-2">
            <button mat-raised-button [ngClass]="!brandForm.valid? 'opacity' : 'noOpacity'" class="save-button"
                [disabled]="!brandForm.valid" (click)="onSubmit()"><span class="custom-text-color">Save</span></button>
            <button mat-raised-button color="warn" (click)="deleteBrandsData()">Delete</button>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>
    </div>