<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="card-header" style="height:90px;width: 400px;background-color: #28a745;">
                <h4 class="vertical-align-text custom-card-title">Payment Successful</h4>
            </div>
            <div class="card-body" style="height: 180px;">
                <h5 class="text-center mb-3">Thank You For Subscription<br>Kindly Enjoy Your Service</h5>
                <button type="button" class="btn btn-lg btn-block"
                    style="background-color: #28a745 !important;color: white;margin-top: 33px !important;"
                    (click)="continueToDashboard()"><span style="font-size: 1.5rem;">Go To Dashboard</span></button>
            </div>
        </div>
    </div>
</div>

<ngx-spinner></ngx-spinner>