<div class="card card-custom" [ngClass]="cssClass">

  <div class="row my-2">
    <div class="btn-group btn-group-toggle d-inline mx-auto center mt-0" data-toggle="buttons">
      <label class="btn btn-info font-size-sm">
        <input type="radio" name="options" id="option1" autocomplete="off" (click)="lastMonth()">Last Month
      </label>
      <label class="btn btn-danger font-size-sm">
        <input type="radio" name="options" id="option2" autocomplete="off" (click)="currentMonth()">Current Month
      </label>
    </div>
  </div>
  <div class="card-header border-0">
    <h3 class="card-title font-weight-bolder" style="color:  #ff8c00;">Highest Value Products By
      {{currentlySelectedMenu}}</h3>
  </div>


  <ng-container *ngIf="currentTab === 'lastMonth'">
    <div *ngIf="highestValueProductsByLastMonth.length != 0">
      <div class="card-body pt-2" *ngFor="let data of highestValueProductsByLastMonth">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
            <a class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
              {{data.ProductId}}
            </a>
            <span class="text-muted font-weight-bold font-size-sm my-1">
              {{data.SubCategoryId}}
            </span>
            <span class="text-muted font-weight-bold font-size-sm my-1">
              {{data.BrandId}}
            </span>

          </div>



          <div class="d-flex flex-column flex-grow-1 py-lg-0 py-2">
            <div class="d-flex flex-column text-center">
              <span class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                {{data.Varient}}
              </span>
              <span class="text-muted font-size-sm font-weight-bolder">
                Varient
              </span>
            </div>
          </div>

          <div class="d-flex align-items-center py-lg-0 py-2">
            <div class="d-flex flex-column text-right">
              <span class="font-weight-bold font-size-h4 text-warning" style="color:  #ff8c00;">
                {{data.total}}
              </span>
              <span class="text-muted font-size-sm font-weight-bolder">
                Total
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="highestValueProductsByLastMonth.length == 0">
      <h3 class="text-center mt-5">No Records Found</h3>
    </div>

  </ng-container>

  <ng-container *ngIf="currentTab === 'currentMonth'">

    <div>
      <div class="card-body pt-2" *ngFor="let data of highestValueProductsByMonth">

        <div class="d-flex flex-wrap align-items-center mb-10">


          <div class="d-flex flex-column flex-grow-1 my-lg-0 my-2 pr-3">
            <a class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
              {{data.ProductId}}
            </a>
            <span class="text-muted font-weight-bold font-size-sm my-1">
              {{data.SubCategoryId}}
            </span>
            <span class="text-muted font-weight-bold font-size-sm my-1">
              {{data.BrandId}}
            </span>

          </div>



          <div class="d-flex flex-column flex-grow-1 py-lg-0 py-2">
            <div class="d-flex flex-column text-center">
              <span class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">
                {{data.Varient}}
              </span>
              <span class="text-muted font-size-sm font-weight-bolder">
                Varient
              </span>
            </div>
          </div>

          <div class="d-flex align-items-center py-lg-0 py-2">
            <div class="d-flex flex-column text-right">
              <span class="font-weight-bold font-size-h4 text-warning" style="color:  #ff8c00;">
                {{data.total}}
              </span>
              <span class="text-muted font-size-sm font-weight-bolder">
                Total
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="highestValueProductsByMonth.length == 0">
      <h3 class="text-center mt-5">No Records Found</h3>
    </div>
  </ng-container>

</div>
<ngx-spinner></ngx-spinner>