.table {
    width: 100%;
}
.custom-table {
    width: 100%;
}

*:focus {
    outline: none;
}

.make-gold {
    background-color: #add8e6;
}

.mat-column-select {
    flex: none;
    text-align: center;
    padding: 8px;
}

.mat-column-subCategory {
    flex: none;
    text-align: center;
}

.mat-column-brand {
    flex: none;
    text-align: center;
}

.mat-column-product {
    flex: none;
    text-align: center;
}

.mat-column-varient {
    flex: none;
    text-align: center;
}

.mat-column-buyingPrice {
    flex: none;
    text-align: center;
}

.mat-column-quantityOrdered {
    flex: none;
    text-align: center;
}

.mat-column-quantityReceived {
    flex: none;
    text-align: center;
}





.mat-column-quantityReceived {
    flex: none;
    text-align: center;
}

.mat-column-Discount {
    flex: none;
    text-align: center;
}

.mat-column-sellingPrice {
    flex: none;
    text-align: center;
}

.mat-column-barCode {
    flex: none;
    text-align: center;
}