<div class="d-flex flex-column flex-root h-100" id="kt_login_wrapper">
  <div class="login login-1 login-signin-on d-flex flex-column flex-lg-row flex-column-fluid bg-white" id="kt_login">
    <!-- <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #ADD8E6;"> -->
    <!-- <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: orange;"> -->
    <div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #1BC5BD;">

      <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">

        <a class="text-center mb-10">
          <img src="./assets/images/GV_Logo.jpg" class="max-h-70px" style="mix-blend-mode: multiply;" alt="" />
        </a>
        <!-- style=" mix-blend-mode: multiply;" -->
        <h3 class="font-weight-bolder text-center font-size-h4 font-size-h3-lg" style="color: #986923;">
          <!-- Discover Amazing Metronic<br />
          with great build tools -->
          Technology empowerment for<br /> every Farmer and Retailer <br /> is the
          mantra of Gram Vyapar
        </h3>

      </div>

      <div class="aside-img d-flex flex-row-fluid bgi-no-repeat bgi-position-y-bottom bgi-position-x-center"
        style="background-image: url('./assets/media/svg/illustrations/login-visual-1.svg')"></div>

    </div>



    <div
      class="login-content flex-row-fluid d-flex flex-column justify-content-center position-relative overflow-hidden p-7 mx-auto">

      <div class="d-flex flex-column-fluid flex-center">
        <router-outlet></router-outlet>
      </div>

    </div>

  </div>

</div>