<div class="container-fluid">

    <div class="row">

        <mat-form-field style="width: 100% !important">
            <mat-select placeholder="Seller">
                <mat-select-filter [placeholder]="'Seller'" [displayMember]="'SellerNameCode'" [array]="sellerData"
                    (filteredReturn)="filteredSellerData =$event"></mat-select-filter>
                <mat-option *ngFor="let item of filteredSellerData" [value]="item">
                    {{item.SellerNameCode}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 col-6 col-sm-3 col-xl-3">

        <mat-form-field style="width: 100% !important">
            <mat-select placeholder="Category">

            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 col-6 col-sm-3 col-xl-3">
        <mat-form-field style="width: 100% !important">
            <mat-select placeholder="Sub Category">

            </mat-select>
        </mat-form-field>
    </div>
    <div class="col-md-3 col-6 col-sm-3 col-xl-3">
        <mat-form-field style="width: 100% !important">
            <mat-select placeholder="Brand">

            </mat-select>
        </mat-form-field>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-6 col-sm-6 col-xl-6">
        <mat-form-field style="width: 100%;">
            <mat-label>Search</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    <div class="col-md-3 col-6 col-sm-3 col-xl-3">
        <button mat-raised-button class="width-100 save-button"><span style="color:white">Update All ( 0
                )</span></button>
    </div>
    <div class="col-md-3 col-6 col-sm-3 col-xl-3">
        <button mat-raised-button color="warn" class="width-100"><span style="color:white">Remove All ( 0
                )</span></button>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-12 col-sm-12 col-xl-12 my-2">
        <table mat-table [dataSource]="dataSource" class="custom-table">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>
            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef>Brand</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef>Product</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{element.name}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef>Price</th>
                <td mat-cell *matCellDef="let element">
                </td>
            </ng-container>

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef>Discount</th>
                <td mat-cell *matCellDef="let element">

                </td>
            </ng-container>




            <ng-container matColumnDef="finalPrice">
                <th mat-header-cell *matHeaderCellDef>Final Price</th>
                <td mat-cell *matCellDef="let element">
                </td>
            </ng-container>

            <ng-container matColumnDef="availableQuantity">
                <th mat-header-cell *matHeaderCellDef>Available Quantity</th>
                <td mat-cell *matCellDef="let element">

                </td>
            </ng-container>


            <ng-container matColumnDef="save">
                <th mat-header-cell *matHeaderCellDef>Save</th>
                <td mat-cell *matCellDef="let element">
                </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>Delete</th>
                <td mat-cell *matCellDef="let element">

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator style="background-color:  #f3f6f9 !important;" [pageSizeOptions]="[25,50,100]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>

<ngx-spinner></ngx-spinner>