
.mat-column-ProductName {
    flex: none;
    text-align: center;
}

.mat-column-BrandName {
    flex: none;
    text-align: center;
}

.mat-column-Name {
    flex: none;
    text-align: center;
}

.mat-column-PurchaseQuantity {
    flex: none;
    text-align: center;
}

.mat-column-BuyingPrice {
    flex: none;
    text-align: center;
}

.mat-column-Discount {
    flex: none;
    text-align: center;
}

.mat-column-FinalPrice {
    flex: none;
    text-align: center;
}