.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.cutomHeight {
  overflow-y: scroll;
  height: 400px;
}

mat-selection-list {
  height: 100px;
}


.make-gold {
  background-color: #ffffb2;
}

