<div class="container-fluid">
    <h2 class="theme-color font-weight-bold text-center">Seller Mapping</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 col-xl-12">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput [formControl]="search">
            </mat-form-field>
        </div>
        <div class="col-md-12 col-sm-12 col-12 col-xl-12" style=" max-height: 300px !important;">
            <mat-selection-list #shoes (selectionChange)="selectionChange($event.option)" style="width: 100%;">
                <mat-list-option *ngFor="let mapping of $search|async" [value]="mapping.Name"
                    [selected]="shoesControl.value &&shoesControl.value?.indexOf(mapping)>=0">
                    {{mapping.Name}}
                </mat-list-option>
            </mat-selection-list>
        </div>

        <!-- <div class="col-md-12 col-sm-12 col-12 col-xl-12">
            <p>
                Options selected: {{shoesControl.value?.length}}
                {{shoesControl.value|json}}
            </p>

        </div>

        <div class="col-md-12 col-sm-12 col-12 col-xl-12" mat-dialog-actions>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-12 col-xl-12" mat-dialog-actions>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div> 
    </div>
</div>