<div class="card card-custom card-stretch" *ngIf="user$ | async as user">

  <div class="card-body pt-4">


    <div class="d-flex align-items-center">
      <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
        <div class="symbol-label" [style.backgroundImage]="'url('+ user.pic +')'"></div>
        <i class="symbol-badge bg-success"></i>
      </div>
      <div>
        <a class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary cursor-pointer">
          {{sellerName}}
        </a>
        <div class="text-muted">
          {{user.ocupation}}
        </div>
        <div class="mt-2">

          <a class="btn btn-sm btn-primary font-weight-bold mr-2 py-2 px-3 px-xxl-5 my-1 cursor-pointer"
            ngbTooltip="Coming soon..." triggers="manual" #t4="ngbTooltip" (click)="t4.open()"
            placement="right">Chat</a>
          <a class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1 cursor-pointer"
            ngbTooltip="Coming soon..." triggers="manual" #t5="ngbTooltip" (click)="t5.open()"
            placement="right">Follow</a>
        </div>
      </div>
    </div>

    <div class="py-9">


      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="font-weight-bold mr-2">Role:</span>
        <span class="font-weight-bold">{{role}}</span>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="font-weight-bold mr-2">City:</span>
        <span class="font-weight-bold">{{city}}</span>
      </div>

      <div class="d-flex align-items-center justify-content-between mb-2">
        <span class="font-weight-bold mr-2">Vendor Code:</span>
        <span class="font-weight-bold">{{vendorCode}}</span>
      </div>
    </div>

    <div class="navi navi-bold navi-hover navi-active navi-link-rounded">


      <div class="navi navi-bold navi-hover navi-active navi-link-rounded">

        <div class="navi-item mb-2">
          <a class="navi-link py-4" routerLink="/user-profile/addAddress" routerLinkActive="active">
            <span class="navi-icon mr-2">
              <span [inlineSVG]="'./assets/media/svg/icons/Design/Layers.svg'" cacheSVG="true" class="svg-icon"></span>
            </span>
            <span class="navi-text font-size-lg">
              Add Address
            </span>
          </a>
        </div>
        <ng-container *ngIf="role==='Seller' && isLifeTimeAccess=='N'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4" routerLink="/payment/subscription" routerLinkActive="active">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Text/Article.svg'" cacheSVG="true" class="svg-icon"></span>
              </span>
              <span class="navi-text font-size-lg">
                Subscription Plans
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role==='Seller' && isLifeTimeAccess=='Y'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4" style="cursor: no-drop;">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Text/Article.svg'" cacheSVG="true" class="svg-icon"
                  style="cursor: no-drop;"></span>
              </span>
              <span class="navi-text font-size-lg" style="cursor: no-drop;">
                Subscription Plans
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role!=='Seller'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4" style="cursor: no-drop;">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Text/Article.svg'" cacheSVG="true" class="svg-icon"
                  style="cursor: no-drop;"></span>
              </span>
              <span class="navi-text font-size-lg" style="cursor: no-drop;">
                Subscription Plans
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role==='Seller'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" (click)="openTransactionHistory()" routerLinkActive="active">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon"></span>
              </span>
              <span class="navi-text font-size-lg">
                Transaction History
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role!=='Seller'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" style="cursor: no-drop;">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/General/User.svg'" cacheSVG="true" class="svg-icon"
                  style="cursor: no-drop;"></span>
              </span>
              <span class="navi-text font-size-lg" style="cursor: no-drop;">
                Transaction History
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role==='Seller'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" routerLinkActive="active" (click)="openActiveStatus()">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Shield-user.svg'" cacheSVG="true"
                  class="svg-icon"></span>
              </span>
              <span class="navi-text font-size-lg">
                Active Status
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role!=='Seller'">
          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" style="cursor: no-drop;">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Shield-user.svg'" cacheSVG="true"
                  class="svg-icon" style="cursor: no-drop;"></span>
              </span>
              <span class="navi-text font-size-lg" style="cursor: no-drop;">
                Active Status
              </span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="role=='Seller' && paymentMode=='Per Order Subscription';else second">
          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" routerLinkActive="active" routerLink="/payment/orderStats">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Shield-user.svg'" cacheSVG="true"
                  class="svg-icon"></span>
              </span>
              <span class="navi-text font-size-lg">
                Order Stats
              </span>
            </a>
          </div>
        </ng-container>
        <ng-template #second>

          <div class="navi-item mb-2">
            <a class="navi-link py-4 custom-grab" style="cursor: no-drop;">
              <span class="navi-icon mr-2">
                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Shield-user.svg'" cacheSVG="true"
                  class="svg-icon" style="cursor: no-drop;"></span>
              </span>
              <span class="navi-text font-size-lg" style="cursor: no-drop;">
                Order Stats
              </span>
            </a>
          </div>

        </ng-template>


        <!-- <div class="navi-item mb-2">
          <a class="navi-link py-4 cursor-pointer" ngbTooltip="Coming soon..." triggers="manual" #t2="ngbTooltip"
            (click)="t2.open()" placement="right">
            <span class="navi-icon mr-2">
              <span [inlineSVG]="'./assets/media/svg/icons/Files/File.svg'" cacheSVG="true" class="svg-icon"></span>
            </span>
            <span class="navi-text font-size-lg">Tax information</span>

          </a>
        </div> -->
        <div class="navi-item mb-2">
          <a class="navi-link py-4 cursor-pointer" ngbTooltip="Coming soon..." triggers="manual" #t3="ngbTooltip"
            (click)="t3.open()" placement="right">
            <span class="navi-icon mr-2">
              <span [inlineSVG]="'./assets/media/svg/icons/Text/Article.svg'" cacheSVG="true" class="svg-icon"></span>
            </span>
            <span class="navi-text">
              Statements
            </span>
          </a>
        </div>
      </div>

    </div>

  </div>

  <ngx-spinner></ngx-spinner>