
.custom-table {
    width: 100%;
}

*:focus {
    outline: none;
}

.make-gold {
    background-color: #add8e6;
}

.mat-column-select {
    flex: none;
    width: 30px !important;
    padding: 8px;
}

.mat-column-brandName {
    flex: none;
    text-align: center;
}

.mat-column-productName {
    flex: none;
    text-align: center;
}

.mat-column-quantity {
    flex: none;
    text-align: center;
}

.mat-column-actualPrice {
    flex: none;
    text-align: center;
}

.mat-column-discount {
    flex: none;
    text-align: center;
}


.mat-column-finalPrice {
    flex: none;
    text-align: center;
}

.mat-column-availableQuantity {
    flex: none;
    text-align: center;
}

.mat-column-save {
    flex: none;
    text-align: center;
}

